.product-card{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    font-size: 1.3rem;
    background-color: bisque;
    border-radius: 15px;

    button{
    background-color: pink;
    border-radius: 20px;
    padding: 4px;
    }
}

