h1{
    color: red;
    font-size: 50px;
    text-align: center;
    background-color: yellow;
    padding: 20px;
}

.card-list {
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 23px;
        flex-wrap: wrap;
     
        li{
            color: rgb(47, 0, 255);
            font-size: 2rem;
            &:before{
                content:"❤️  "
            }
        }
    }
}